@model TradeLib.Models.RestoreModel

@{
    ViewData["Title"] = "Restore password";
}

<link rel="stylesheet" href="~/css/site.css">
<div class="container">
    <form asp-action="Restore">
        <input type="hidden" value="@ViewBag.Email" name="Email" />
        <div>
            <b>Password</b>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <hr>
        <div>
            <b>Repeat Password</b>
            <input asp-for="RepeatingPassword">
            <span asp-validation-for="RepeatingPassword"></span>
        </div>
        <input type="submit"
               name="submit"
               value="Confirm changes"
               class="registerbtn"
               required>
    </form>
</div>
