@model IEnumerable<TradeLib.Models.Product>

@{
    ViewData["Title"] = "AddProduct";
}

<link rel="stylesheet" href="site.css">
<div class="container">
    <h1>Product</h1>
    <p>Please fill in this form to add an product.</p>
    <hr>
    
    <form enctype="multipart/form-data" method="post">
        
        <b>Name</b>
        <input type="text" placeholder="Enter Name" name="Name" required>
        <hr>
        
        <b>Type</b>
        <input type="text" placeholder="Enter Type" name="Type">
        <hr>
         
        <b>Description</b>
        <textarea type="text" cols="80" rows="3" name="Description" required> </textarea>
        <hr>
        
        <b>Image</b>
        <input type="file" placeholder="Enter Image" name="Image" accept="image/*">
        <hr>
        
        <b>Price</b>
        <input type="text" placeholder="Enter Type" name="Type" required>
        <hr>
        
        <input type="submit"
               placeholder="Submit"
               name="submit"
               value="Add Product"
               required>
    </form>
</div>