@model TradeLib.Models.SearchModel

@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-lg-center">
        <p>Start Page!</p>
    </div>
    <div>
        <form asp-area="" asp-action="Search" asp-controller="Search">
            <div>
                <input asp-for="SearchInput" placeholder="Search all">
                <span asp-validation-for="SearchInput"></span>
            <input type="submit"
                   name="submit"
                   value="go!"
                   class="float-lg-left"
                   required>
            </div>
        </form>
    </div>
</body>