@model IEnumerable<TradeLib.Models.Person>
@{
    ViewData["Title"] = "Your account";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

@foreach (var person in Model)
{
    @if (person.Email == User.Identity?.Name)
    {
        @if (person.Confirmed)
        {
            <div display:inline-block>
                <bold>Name: @person.Name</bold>
                <a href="https://localhost:5001/Account/EditProfile">
                    <span class="material-icons">edit</span>
                </a>
            </div>
            <span class="myprod">My products</span>
            <a href="https://localhost:5001/PersonProducts/PersonProducts" style="position: relative;top:5px;">
                <span class="material-icons">inventory_2</span>
            </a>
        }
        else
        {
            <h2>Confirm your account.</h2>            
        }
    } 
}


