@model IEnumerable<TradeLib.Models.Person>
@{
    ViewData["Title"] = "Your account";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

@foreach (var person in Model)
{
    @if (person.Email == User.Identity?.Name)
    {
        @if (person.Confirmed)
        {
            <div display:inline-block>
                <bold>Name: @person.Name</bold>
                <i class="material-icons" onclick="location.href='/Account/EditProfile'">edit</i>
            </div>
        }
        else
        {
            <h2>Confirm your account.</h2>            
        }
    } 
}
