@model IEnumerable<TradeLib.Models.Person>
@{
    ViewData["Title"] = "Your account";
}
@foreach (var person in Model)
{
    @if (person.Email == User.Identity?.Name)
    {
        @if (person.Confirmed)
        {
            <h2>@person.Name</h2>
        }
        else
        {
            <h2>Confirm your account.</h2>            
        }
    } 
}