@model IEnumerable<TradeLib.Models.Person>
@{
    ViewData["Title"] = "Your account";
}
@foreach (var person in Model)
{
    @if (person.Email == User.Identity?.Name)
    {
        <h1>@person.Name</h1>
    } 
}