@model IEnumerable<TradeLib.Models.Product>

@{
    ViewData["Title"] = "Catalog";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/my-flex-container.css">
<div class="my-flex-container">
    <table>
        @foreach (var product in Model)
        {
            <td 
                type="button"
                onclick="location.href='https://localhost:5001/Product/ShowProduct/@product.Id'"
                class="product">
                @if (product.Image is not null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(product.Image)" alt="@product.Name"  style="overflow: hidden; height: 150px; width: 150px"/>
                    <br/>
                }
                Name: @product.Name <br/>
                Price: @product.Price <br/>
            </td>
        }
    </table>
</div>